@{
    ViewData["Title"] = "Admin";
}
<style>
    .container {
        max-width: 80%;
        margin: 40px auto;
    }
    .models-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .models-item {
        border-radius: 20px;
        box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.05);
        overflow: hidden;
    }

    .models-link {
        position: relative;
        display: block;
        text-decoration: none;
        background-color: #e7fcff;
        cursor: pointer;
        color: black;
        padding: 15px;
        transition: .3s ease;
    }

    .models-link:hover {
        color: #232323;
        background-color: #adfdff;
    }

    .models-link::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        translate: 0px -50%;
        rotate: -90deg;
        width: 14px;
        height: 9px;
        background: url("/img/arrow.svg");
        background-size: cover;
        margin-left: .5em;
    }

</style>

<div class="container">
    <h1>Adminka</h1>

    <ul class="models-list">
        <li class="models-item">
            <a asp-controller="ConstructionProject" asp-action="Index" class="models-link">
                ЖК
            </a>
        </li>

        <li class="models-item">
            <a asp-controller="Building" asp-action="Index" class="models-link">
                Дома
            </a>
        </li>

        <li class="models-item">
            <a asp-controller="Apartment" asp-action="Index" class="models-link">
                Квартиры
            </a>
        </li>
</div>